.footerSec {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  background-color: #f5f5f533;
  /* padding: 2rem; */
}

.ContactFooter {
  font-family: Frank Ruhl Libre;
  font-weight: 400;
  font-size: 2.4rem;
}

.ContactFooter div {
  margin-top: 3rem;

  gap: 2rem;
  display: flex;
  justify-content: flex-end;
}

.btnSty {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 1.4rem;
  outline: inherit;
}
.footerSecimgp {
  font-size: 1.6rem;
}
.footerSecimg {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  /* justify-items: center; */
  display: flex;
}
.copyRightSec {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 1rem;
}
@media (max-width: 1300px) {
  .footerSec {
    width: initial;
    /* width: 80%; */
    flex-direction: column;
    padding: 0;
  }
}
@media (max-width: 768px) {
  .footerImg {
    width: 80%;
  }
  .footerSec {
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 3rem 1rem;
  }

  .footerSec img {
    max-width: 70%;
    height: auto;
    margin-bottom: 2rem;
  }

  .ContactFooter {
    font-size: 2rem;
  }

  .ContactFooter div {
    margin-top: 1.5rem;
    text-align: center;
  }
}

@media (max-width: 480px) {
  .footerImg {
    width: 15%;
  }
  .footerSec img {
    max-width: 90%;
  }

  .ContactFooter {
    font-size: 1.8rem;
  }

  .ContactFooter div {
    margin-top: 1rem;
  }
}
