.FirstBox {
  margin: 1rem 2rem;
  background-color: #f5f5f533;
  width: auto;
  height: fit-content;
  border-radius: 2.4rem;
  padding-top: 0.5rem;
}

.button {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  height: fit-content;
  padding: 0.5rem;
  display: flex;
  border-radius: 20%;
  font-size: 5rem;
  text-align: center;
  z-index: 1;
}
