<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /

  # Ignore existing files and directories
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d

  # Serve index.html for all other requests
  RewriteRule ^ index.html [L]
</IfModule>
